<!DOCTYPE html>
<html ng-app="application">
    <head>
        <title>Game Of Pictures</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/litetalk.code.js"></script>
        <script src="js/gop.code.js"></script>
        <script src="js/script.js"></script>
    </head>

    <body ng-controller="controller">
        <header class="container-fluid">
            <div class="text-center">
                <h1>Game Of Pictures</h1>
            </div>
        </header>
        <main class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div id="messenger">
                        <div id="messenger-messages">
                            <div ng-repeat="message in messages" class="message message-{{message.source}}">
                                <span class="message-content" ng-class="{'badge-secondary': message.source != 'player', 'badge-dark': message.source == 'player'}">
                                    {{message.content}}
                                </span>
                            </div>
                        </div>
                        <form id="messenger-input" class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Ask a question or declare the answer" ng-model="message">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" ng-click="playerMessage(message)">Tell</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="thumbnail-header">
                                <h3>Blinky</h3>
                            </div>
                            <img class="img-thumbnail" src="images/1.jpg" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <div class="thumbnail-header">
                                <h3>Inky</h3>
                            </div>
                            <img class="img-thumbnail" src="images/2.jpg" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <div class="thumbnail-header">
                                <h3>Pinky</h3>
                            </div>
                            <img class="img-thumbnail" src="images/3.jpg" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <div class="thumbnail-header">
                                <h3>Sue</h3>
                            </div>
                            <img class="img-thumbnail" src="images/4.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <input style="visibility:hidden; position:fixed;" id="litetalkchatbox" type="text" value="ask toto">
        <textarea class="answers" id="johnballoon" spellcheck="false" hidden></textarea>
        <footer>

        </footer>
    </body>
</html>