<!DOCTYPE html>
<html ng-app="application">
    <head>
        <title>Game Of Pictures</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/litetalk.code.js"></script>
        <script src="js/gop.code.js"></script>
        <script src="js/script.js"></script>
    </head>

    <body ng-controller="controller">
        <header class="container-fluid">
            <div class="text-center">
                <h1>Game Of Pictures</h1>
            </div>
        </header>
        <main class="container">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-9">
                    <div class="carousel slide" data-ride="carousel" id="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="images/1.jpg" alt=""/>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>1</h5>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="images/2.jpg" alt=""/>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>2</h5>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="images/3.jpg" alt=""/>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>3</h5>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="images/4.jpg" alt=""/>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>4</h5>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <input style="visibility:hidden; position:fixed;" id="litetalkchatbox" type="text" value="ask toto">
                    <textarea class="answers" id="johnballoon" spellcheck="false" hidden>
                    </textarea>
                    <div id="messenger">
                        <div id="messenger-messages">
                            <div ng-repeat="message in messages" class="message message-{{message.source}}">
                                <span class="message-content" ng-class="{'badge-secondary': message.source != 'player', 'badge-dark': message.source == 'player'}">
                                    {{message.content}}
                                </span>
                            </div>
                        </div>
                        <form id="messenger-input" class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Ask a question or declare the answer" ng-model="message">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" ng-click="playerMessage(message)">Tell</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>